@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf); 
}
@font-face {
  font-family: Roboto Light;
  src: url(../fonts/Roboto-Light.ttf); 
}
@font-face {
  font-family: OpenSans EB;
  src: url(../fonts/OpenSans-ExtraBold.ttf); 
}
@font-face {
  font-family: OpenSans SB;
  src: url(../fonts/OpenSans-SemiBold.ttf); 
}

h2{
  font-family: OpenSans EB, arial, serif;
}
h3{
  font-family: OpenSans SB, arial, serif;
}
p{
  font-family: Roboto, arial, serif;
  font-size: 0.9rem;
  line-height: 1.3rem;
  
}
.flex-container {
  display: flex;
}
.flex-item{
  flex:1 100%;
}


header{
  width: 100%;
  background:#fff;
  padding:1em;
  border-bottom:#ccc;
  box-shadow: 0 0 33px 0px #ccc;
  position: fixed;
  top:0;
  left:0;
  box-sizing: border-box;
  vertical-align: middle;
  z-index: 3;
  h4{
    font-family: "Roboto";
    font-size: 2em;
    color: #EA544E;
    text-transform: uppercase;
    display: inline-block;
    vertical-align:super;
    padding: 0 0 0 0.2em;
  }

}

a.logo-nav:hover, a.logo-nav:visited, a{text-decoration: none;color:#EA544E;}

.navigation{

  justify-content: flex-end;

   a{
      text-decoration: none;
      display: block;
      padding: 1em;
      color: #095E7C;
      font-family: "Roboto";
      font-size: 1.0em;
      text-transform: uppercase

   }

}

