/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: Roboto Condensed;
  src: url(../fonts/RobotoCondensed-Bold.ttf); }
@font-face {
  font-family: Consolas;
  src: url(../fonts/consola.ttf); }
.left {
  text-align: left; }

.flex-container {
  display: flex; }

.flex-item {
  flex: 1 100%; }

h1 {
  font-family: "Roboto Condensed", helvetiva, sans-serif;
  color: #A022DE;
  font-size: 4.8em;
  text-transform: uppercase; }

h2 {
  font-family: "Consolas", sans-serif;
  color: #95989A;
  font-size: 2.2em;
  text-transform: uppercase; }

h3 {
  font-family: "Roboto Condensed", helvetiva, sans-serif;
  color: #A022DE;
  font-size: 2.2em;
  text-transform: uppercase; }

body {
  font-family: 100% "Consolas", sans-serif;
  background: #c-white; }

section {
  width: 100%;
  text-align: center;
  left: 0;
  right: 0; }

.inicio {
  margin-top: 8%; }

.huge-container {
  width: 100%;
  position: relative;
  text-align: center; }
  .huge-container .huge-description {
    position: relative;
    max-width: 960px;
    width: 100%;
    display: inline-block; }
    .huge-container .huge-description h1 {
      line-height: 1.3em;
      font-weight: normal;
      padding-top: 0.3em; }
    .huge-container .huge-description h2 {
      line-height: 0;
      font-weight: normal; }
    .huge-container .huge-description h3 {
      font-family: "Roboto Condensed", helvetiva, sans-serif;
      color: #95989A;
      font-size: 2.2em;
      text-transform: uppercase;
      padding-bottom: 1.4em; }

.huge-description p {
  font-family: "Consolas", sans-serif;
  color: #95989A;
  font-size: 1.2em;
  margin-bottom: 3em; }

.huge-container-second-block {
  width: 100%;
  position: relative; }

.foto-principal {
  z-index: 2;
  position: relative;
  text-align: center; }
  .foto-principal img {
    display: inline-block;
    width: 50%; }

.gradient-primary {
  text-align: center; }
  .gradient-primary p {
    width: 100%;
    position: relative;
    font-family: "Consolas", sans-serif;
    color: #fff;
    font-size: 1.2em;
    padding: 3em 0;
    display: inline-block; }

.gradient-primary {
  position: relative;
  width: 100%;
  z-index: 0; }

.gradient-primary::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(135deg, #50116F 0%, #A022DE 100%);
  z-index: 0;
  margin-top: 15%; }

#work {
  padding: 5em 0;
  position: relative; }
  #work .huge-description,
  #work .item {
    text-align: right;
    position: relative;
    width: 100%; }
    #work .huge-description img,
    #work .item img {
      position: relative;
      width: 80%; }

.item {
  margin-bottom: 5em; }

.title {
  font-family: "Consolas", sans-serif;
  color: #95989A;
  font-size: 3.8em;
  text-align: left;
  margin-bottom: 1.2em; }
  .title embed {
    width: 80px; }

.item-description {
  position: absolute;
  text-align: left;
  left: 0;
  top: 2em;
  z-index: 3; }
  .item-description .title-item {
    font-family: "Roboto Condensed", helvetiva, sans-serif;
    font-size: 4.5em;
    color: #000;
    text-transform: uppercase;
    padding-bottom: .3em; }
  .item-description li {
    font-family: "Consolas", sans-serif;
    color: #95989A;
    font-size: 1.2em; }

.description p {
  color: #000;
  width: 40%; }

#write .flex-item:first-child {
  margin-right: 1em; }

#write .flex-item img {
  width: 100%;
  padding-bottom: 1em; }
#write .flex-item a {
  font-size: 1.3em;
  color: #A022DE;
  text-decoration: none; }
  #write .flex-item a :hover {
    color: #50116F; }

header {
  width: 100%;
  background: #fff;
  padding: 1em;
  border-bottom: #95989A;
  box-shadow: 0 0 33px 0px #ccc;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  vertical-align: middle;
  z-index: 3; }
  header h4 {
    font-family: "Consolas", sans-serif;
    font-size: 2em;
    color: #A022DE;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: super;
    padding: 0 0 0 0.2em; }
  header svg {
    width: 30px;
    display: inline-block;
    fill: #50116F; }

a.logo-nav:hover, a.logo-nav:visited, a {
  text-decoration: none;
  color: #50116F; }

.navigation {
  justify-content: flex-end; }
  .navigation a {
    text-decoration: none;
    display: block;
    padding: .5em 1em;
    color: #95989A;
    font-family: "Consolas", sans-serif;
    font-size: 1.3em; }

.secondary {
  padding-top: 6em; }
  .secondary h1 {
    color: #000;
    font-size: 3.4em; }
  .secondary p {
    margin-bottom: 4em;
    line-height: 1.5em; }

.secondary .huge-description h3 {
  padding-bottom: .4em; }

.img-hero-2 {
  background: #d60234;
  margin-bottom: 4em; }

/*# sourceMappingURL=geral.css.map */
